@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Megamax Jones";
  src: url("/fonts/MegamaxJones.ttf");
}

@font-face {
  font-family: "Monument Regular";
  src: url("/fonts/MonumentExtendedR.otf");
}

@font-face {
  font-family: "Aquatico Regular";
  src: url("/fonts/AquaticoRegular.otf");
}

@font-face {
  font-family: "Satoshi Regular";
  src: url("/fonts/SatoshiRegular.otf");
}

@font-face {
  font-family: "Satoshi Black";
  src: url("/fonts/SatoshiBlack.otf");
}

@font-face {
  font-family: "Hermano Alto Stamp";
  src: url("/fonts/HermanoAltoStamp.ttf");
}

@font-face {
  font-family: "Manaspace";
  src: url("/fonts/Manaspace.ttf");
}

body {
  background: black;
  scrollbar-width: thin;
  scrollbar-color: #b620e0 #f0f0f0;
}

input:focus {
  outline-color: #b620e0;
}

body::-webkit-scrollbar {
  width: 6px;
  opacity: 0; /* Initially hide the scrollbar */
  transition: opacity 0.3s ease;
}

body:hover::-webkit-scrollbar {
  opacity: 1; /* Show the scrollbar on hover */
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #b620e0;
}

div::-webkit-scrollbar {
  width: 6px;
  opacity: 0; /* Initially hide the scrollbar */
  transition: opacity 0.3s ease;
}

div::-webkit-scrollbar-track {
  background-color: black;
}

div::-webkit-scrollbar-thumb {
  background-color: #b620e0;
}

div:hover::-webkit-scrollbar {
  opacity: 1; /* Show the scrollbar on hover */
}


#arrowsLeft {
  animation: move 4s ease-in-out infinite;
}

#arrowsRight {
  animation: moveBack 4s ease-in-out infinite;
}

@keyframes move {
  0%,
  100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
}

@keyframes moveBack {
  50% {
    transform: translateX(0%);
  }
  0%,
  100% {
    transform: translateX(-100%);
  }
}
