@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Megamax Jones";
  src: url("/fonts/MegamaxJones.ttf");
}

@font-face {
  font-family: "Monument Regular";
  src: url("/fonts/MonumentExtendedR.otf");
}

@font-face {
  font-family: "Aquatico Regular";
  src: url("/fonts/AquaticoRegular.otf");
}

@font-face {
  font-family: "Satoshi Regular";
  src: url("/fonts/SatoshiRegular.otf");
}

@font-face {
  font-family: "Satoshi Black";
  src: url("/fonts/SatoshiBlack.otf");
}

body {
  background: black;
}

input:focus {
  outline-color: #b620e0;
}
